<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803290475337-3noespqlbcplehmehu3bg41p04s190mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803290475337-3noespqlbcplehmehu3bg41p04s190mt</string>
	<key>API_KEY</key>
	<string>AIzaSyC-OPEBHcZtYS8KrEgp0uzXbFyWffSa_z8</string>
	<key>GCM_SENDER_ID</key>
	<string>803290475337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNTemplate</string>
	<key>PROJECT_ID</key>
	<string>rntemplate-451a0</string>
	<key>STORAGE_BUCKET</key>
	<string>rntemplate-451a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803290475337:ios:ecd73c57101797dda1c898</string>
</dict>
</plist>